<% if notice %>
    <p id="notice"><%= notice %></p>
<% end %>


<h1>Your Pragmatic Catalog</h1>

<br></br>


<div class="row">

<% cache ['store', Product.latest] do %>  <!--cache-->
  <% @products.each do |product| %>
    <div class="col-md-4">
      <% cache ['card', product] do %>  <!--cache-->
    <div class="card" style="width: 20rem;">
      <img class="card-img-top" src="<%= product.image_url %>" alt="Card image cap" height:"200" width:"100%">
      <div class="card-body">
        <h4 class="card-title"><%= product.title %></h4>
        <p class="card-text"><%= truncate(strip_tags(product.description), length: 100) %></p>
        <div class="price_line">
                <span class="price"><%= number_to_currency(product.price) %></span>
            </div>
            <%= button_to 'Add to Cart', line_items_path(product_id: product), class: "btn btn-primary" %>
      </div>
    </div>
  <%  end %>
    </div>
  <% end %>
<% end %>

</div>

<br></br><br></br>